# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TweetFaceProject2/Debug/vc142.pdb
TweetFaceProject2/Debug/vc142.idb
TweetFaceProject2/Debug/TweetFaceProject2.pdb
TweetFaceProject2/Debug/TweetFaceProject2.ilk
TweetFaceProject2/Debug/TweetFac.fb37c250.tlog/link.write.1.tlog
TweetFaceProject2/Debug/TweetFac.fb37c250.tlog/link.read.1.tlog
TweetFaceProject2/Debug/TweetFac.fb37c250.tlog/link.command.1.tlog
TweetFaceProject2/Debug/TweetFac.fb37c250.tlog/CL.write.1.tlog
TweetFaceProject2/Debug/TweetFac.fb37c250.tlog/CL.read.1.tlog
TweetFaceProject2/Debug/TweetFac.fb37c250.tlog/CL.command.1.tlog
TweetFaceProject2/.vs/TweetFaceProject2/v16/ipch/AutoPCH/bb20182aa6bf63b4/MAIN.ipch
TweetFaceProject2/.vs/TweetFaceProject2/v16/ipch/AutoPCH/a1e69c11c6ce79bc/FANSPAGE.ipch
TweetFaceProject2/.vs/TweetFaceProject2/v16/ipch/AutoPCH/7ba6017613196480/FUNCTIONS.ipch
TweetFaceProject2/.vs/TweetFaceProject2/v16/ipch/AutoPCH/51b3f158dd11b497/STATUS.ipch
TweetFaceProject2/.vs/TweetFaceProject2/v16/ipch/AutoPCH/36e437b880edde4d/USERS.ipch
TweetFaceProject2/.vs/TweetFaceProject2/v16/ipch/AutoPCH/30bae7269ca5ec69/DATE.ipch
TweetFaceProject2/.vs/TweetFaceProject2/v16/ipch/AutoPCH/255171b21685e7bc/TIME.ipch
TweetFaceProject2/.vs/TweetFaceProject2/v16/ipch/AutoPCH/1a4e9613c7011d54/TWITTFACE.ipch
TweetFaceProject2/.vs/TweetFaceProject2/v16/Browse.VC.db-wal
TweetFaceProject2/.vs/TweetFaceProject2/v16/Browse.VC.db-shm
TweetFaceProject2/.vs/TweetFaceProject2/v16/Browse.VC.db
TweetFaceProject2/.vs/TweetFaceProject2/v16/.suo
TweetFaceProject2/.vs/TweetFaceProject2/v16/Browse.VC.opendb
.vs/TweetFaceProject2/v16/.suo
.vs/slnx.sqlite
TweetFaceProject2/Debug/TweetFaceProject2.log
